/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.form {
    display: flex;
}
.searchContainer {
    position: relative;
    width: 100%;
    display: flex;
}
.input{
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem .25rem .5rem 1.5rem;
    border: 0.2rem solid var(--neutral-color-5);
    border-radius: 3rem 0 0 3rem;
    color: var(--neutral-color-5);
}
.clear{
    position: absolute;
    cursor: pointer;
    top: 55%;
    right: 1rem;
    transform: translateY(-50%);
}
.clearIcon{
    width: 2rem;
    height: 2rem;
    color: var(--neutral-color-3);
}
.clearIcon:hover, .clearIcon:focus, .clearIcon:active {
    color: var(--neutral-color-5);
}
.submit {
    background: var(--neutral-color-1);
    background: linear-gradient(270deg, var(--neutral-color-1) 97%, var(--neutral-color-2) 100%);
    color: var(--neutral-color-5);
    border-radius: 0 3rem 3rem 0;
    padding: .5rem 1.5rem .5rem .25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.submit:hover, .submit:focus{
    color: var(--neutral-color-0);
    text-decoration: none;
    background: var(--accent-color-5);
    background: linear-gradient(135deg, var(--accent-color-5) 20%, var(--accent-color-6) 100%);
}

.submit:active {
    background-color: var(--neutral-color-5);
    background: linear-gradient(135deg, var(--neutral-color-5) 20%, var(--neutral-color-6) 100%);
    transition: all .1s ease;
}
.submitIcon {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.5rem;
}

@media screen and (min-width:768px)  {
    .input {
        font-size: 1.8rem;
        padding: .75rem .5rem .75rem 1.5rem;
    }
    .submit {
        font-size: 1.8rem;
        padding: .3rem 1.5rem .3rem .5rem;
    }
    .submitIcon {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0.5rem;
    }
}