.comments {
    border-top: 1px solid #51637d;
    color: #51637d;
    margin-top: 2%;
} 

.button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 700;
    color: #51637d;
    padding: 1.5em 1em 0 0;
}
.button:hover{
    text-decoration: underline;
}

.showMoreLess {
    display: flex;
    justify-content: space-around;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: bold;
}

.loadingReddit {
    margin: 11.5px;
}
.loadingCircle{ 
    position: absolute;
    animation: rotation linear 1.3s infinite;
    transform-origin: 50% 50%;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}