.comments {
    border-top: 2px solid var(--neutral-color-1);
    color: var(--neutral-color-5);
} 

.button {
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--neutral-color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    width: 100%;
    transition: .1s;
}

.button:hover {
    text-decoration: underline;
}

.text {
    font-family: var(--main-font);
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .5rem;
}

.chevron {
    width: 1.6rem;
    height: 1.6rem; 
    align-self: flex-end;
    flex-grow: 0;
}

.showMoreLess {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--neutral-color-5);
}

.showMoreLess .button:hover, .showMoreLess .button:focus {
    background-color: var(--accent-color-5);
    color: var(--neutral-color-0);
    box-shadow: 1px 1px 2px var(--neutral-color-6);
    text-decoration: none;
}


.showMoreLess .button:active {
    background-color: var(--neutral-color-5);
    box-shadow: none;
}

.showMoreLess .button + .button{
    border-left: 2px solid var(--neutral-color-5);
}

.showMoreLess .button:first-of-type {
    border-bottom-left-radius: 0.5rem;
}
.showMoreLess .button:last-of-type {
    border-bottom-right-radius: 0.5rem;
}

.list{
    padding-bottom: 1rem;
}

@media screen and (min-width:768px)  {
    .text, .button {
        font-size: 1.4rem;
    }
}