main{
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;
  margin-top: 7rem;
  color: var(--neutral-color-5);
  letter-spacing: .05rem;
  line-height: 1.4;
}
.side{
  order: -1;
}

@media screen and (min-width:768px)  {
  main{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr minmax(200px,720px) minmax(120px, 300px) 1fr;
    grid-template-areas: ". list side .";

  }
  .list {
    grid-area: list;
  }
  .side {
    grid-area: side;
    order: 2;
  }
}