@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

:root{
  /* Colors */
  --neutral-color-9: #040C12;
  --neutral-color-8: #081924;
  --neutral-color-7: #0D2636;
  --neutral-color-6: #113348;
  --neutral-color-5: #16405b;
  --neutral-color-4: #507084;
  --neutral-color-3: #6D8898;
  --neutral-color-2: #A8B7C1;
  --neutral-color-1: #E2E7EA;
  --neutral-color-0: #FFFEFF;
  
  --accent-color-7: #006060;
  --accent-color-6: #007070;
  --accent-color-5: #008080;

  /* Typography */
  --main-font:'Roboto Condensed', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  --sub-font:'Cabin', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

h1,h2,h3,h4,h5 {
  margin:0;
}

body {
  margin: 0;
  font-family: var(--sub-font);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--neutral-color-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--neutral-color-5);
  background-color: transparent;
  padding:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
button:hover, button:active {
  color: var(--accent-color-5);
}
button:hover {
  text-decoration: underline;
}
button:active {
  text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}