.header {
  display: flex;
  padding-bottom: 2%;
}
.avatar {
    margin-right: 1rem;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.details {
    flex-grow:3;
    display:flex;
    flex-direction: column;
}
.detailsSubreddit {
    font-weight: 700;
    text-decoration: none;
    color: #51637d;
}

.detailsAuthor {
 color: #9FA9B7;
}
.timeStamp {
    align-self: center;
    color: #51637d;
    font-weight: 700;
}